<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Store</title>
  </head>
  <body>
    <h1>Games Store</h1>
    <h4>Browse By Platform</h4>
    <nav>
      <a href="platform/Pc">Pc</a>
      <a href="platform/Ps5">Ps5</a>
      <a href="platform/Switch">Nintendo Switch</a>
    </nav>

    <h4>Browse By Genre</h4>
    <nav>
      <a href="/genre/Shooter">Shooter</a>
      <a href="/genre/RPG">RPG</a>
      <a href="/genre/Action">Action</a>
    </nav>
    <h4>Admin Section (employees only!)</h4>
    <a href="/auth">Update entries</a>
  </body>
</html>
